<html layout:decorate="~{global/user_layout}">
<head>
    <title>Cafe List</title>
</head>
<body layout:fragment="content">
<h2>Cafe List</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>카페명</th>
        <th>회원수</th>
    </tr>
    </thead>
    <tbody>
    <!-- 반복문을 사용하여 CafeListResponse 객체의 리스트를 출력 -->
    <tr th:each="cafe : ${cafes}">
        <td th:text="${cafe.id}"></td>
        <td th:text="${cafe.name}"></td>
        <td th:text="${cafe.customerCount}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>